#include "resources.h"

MAIN_ICON ICON "snapt.ico"

IDC_CONTEXTMENU MENU
BEGIN
    POPUP ""
	BEGIN
	MENUITEM "&Pause", IDM_PAUSE
	MENUITEM "&Resume", IDM_RESUME
	MENUITEM SEPARATOR
	MENUITEM "E&xit", IDM_EXIT
	END
END